name: WOM -> Discord

on:
  workflow_dispatch: {}
  schedule:
  - cron: "0 * * * *"



permissions:
  contents: write

jobs:
  post:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install deps
        run: pip install requests

      - name: Run WOM welcome check
        env:
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
          WOM_GROUP_ID: ${{ secrets.WOM_GROUP_ID }}
        run: python ./wom_to_discord.py

      - name: Save known members state
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add known_members.json
          git commit -m "Update known members" || echo "No changes"
          git push
